* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Playfair Display', sans-serif;
}

.scroll {
    overflow: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.green {
    position: relative;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: #1ABE84;
}

.coral {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 10px;
    top: 9px;
    border-radius: 50%;
    background: #FB8F1D;
    border: 3px solid #FFFFFF;
}
#header {
    position: fixed;
    width: 100%;
    z-index: 99;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(5px);
}
.header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-icon a {
    margin: 0 20px;
    font-weight: 400;
    font-size: 16px;
    color: #B8BECD;
}

.header-icon {
    margin-left: 290px;
}

.header-icon .white {
    font-weight: 500;
    font-size: 16px;
    color: #202336;
}

.btn .btn-left {
    font-weight: 500;
    font-size: 15px;
    color: #FB8F1D;
    width: 132px;
    height: 44px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    background: none;
}

.btn .btn-right {
    width: 132px;
    height: 44px;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    background: #FB8F1D;
    border-radius: 8px;
}

.btn button {
    margin: 0 10px;
    transition: .5s;
}

.btn button:hover {
    transform: scale(1.2);
    background: #ffffff;
    color: #050505;
}

.hero .black {
    margin: 10px 0;
    width: 32px;
    height: 2px;
    left: 191px;
    top: 482px;
    background: #202336;
    border-radius: 4px;
}

#hero {
    padding: 100px 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-input {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.hero-input input {
    margin: 10px 10px;
    width: 220px;
    height: 52px;
    left: 191px;
    top: 532px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
}

.hero-title h1 {
    padding: 30px 0;
    font-weight: 700;
    font-size: 64px;
    color: #202336;
}

.hero-title p {
    padding: 20px 0;
    font-weight: 600;
    font-size: 22px;
    color: #202336;

}

/*.input-left  select  {*/
/*    width: 220px;*/
/*    height: 52px;*/
/*    left: 191px;*/
/*    top: 532px;*/

/*    border: 0.8px solid #AFB0B9;*/
/*    border-radius: 6px;*/
/*    font-weight: 400;*/
/*    font-size: 15px;*/
/*    color: #4A4C53;*/
/*}*/
.hero-btn button {
    font-weight: 700;
    font-size: 17px;
    color: #FFFFFF;
    background: #FB8F1D;
    border-radius: 8px;
    width: 180px;
    height: 52px;
    transition: .5s;
}

.hero-btn button:hover {
    transform: scale(1.2);
    background: #ffffff;
    color: #050505;
}

.hero-btn {
    margin: 30px 0;
}

.new {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.new-title h1 {
    padding: 20px 0;
    font-weight: 700;
    font-size: 36px;
    color: #000000;

}

.new-title p {
    padding: 20px 0;
    font-weight: 300;
    font-size: 17px;
    color: #7D7987;

}

.new-btn button {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background: #FB8F1D;
    border-radius: 8px;
    width: 164px;
    height: 48px;
    transition: .5s;
}

.new-btn button:hover {
    transform: scale(1.2);
    background: #ffffff;
    color: #050505;
}

.future-title {
    padding-top: 90px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.future-title h1 {
    font-weight: 700;
    font-size: 36px;
    color: #000000;
}

.future-title a {
    font-weight: 600;
    font-size: 17px;
    color: #FB8F1D;
}

.future-bac {
    position: absolute;
    width: 120px;
    height: 56px;
    top: 276px;
    background: #ffffff;
    border-radius: 0 6px 0 0;
}

.future-img {
    position: relative;
}

.future-bac h1 {
    font-weight: 600;
    font-size: 17px;
    color: #042521;
    mix-blend-mode: normal;
}

.future-bac p {
    font-size: 17px;
    color: #7D7987;
}

.futures {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.sunny {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.sun h1 {
    font-weight: 700;
    font-size: 36px;
    color: #000000;
}

.sun p {
    padding: 20px 0;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;

}

.btn button {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background: #FB8F1D;
    border-radius: 8px;
    width: 164px;
    height: 48px;

}
.star-icons .icon-left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 276px;
    top: 443px;
    color: black;
    font-size: 20px ;
    border: 2px solid #000000;
    border-radius: 50% ;
}
.star-icons .icon-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 336px;
    top: 443px;
    color: black;
    font-size: 20px ;
    border: 2px solid #000000;
    border-radius: 50% ;
}


#new {
    padding: 190px 0;
}

#future {
    padding: 200px 0;
}

.star {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#star {
    padding-top: 200px;
}

.stars h1 {
    padding-bottom: 100px;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
}

.star-icon {
    padding: 20px 0;
}

.star-icon a {
    color: #FFBB0C;
}

.stars p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;

}
.star-img-bac {
    position: absolute;
    width: 132px;
    height: 60px;
    left: 252px;
    top: 431px;
    background: #ffffff;
    border-radius: 16px 0px 0px 0px;
}

.stars h2 {
    padding-top: 39px;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
}

.star-img img {
    border-radius: 10px;
}

.future-img img {
    position: relative;
    border-radius: 10px;
}

.stars p {
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
}


#trend {
    padding-top: 200px;
}

.trend-img h1 {
    padding-top: 10px;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #000000;

}

.trend-img p {
    padding: 20px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #7D7987;

}

.trend-img h2 {
    font-weight: 600;
    font-size: 15px;
    color: #FB8F1D;
}

.trend {
    padding: 50px 0;
}
.trend img {
    width: 232px;
    height: 233px;
}

.trends {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.greens {
    margin: 30px 0;
    position: relative;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: #1ABE84;
}

.corals {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 10px;
    top: 9px;
    border-radius: 50%;
    background: #FB8F1D;
    border: 3px solid #FFFFFF;
}

.footer {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.future-title p {
    margin: 50px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #848484;
}

.future-title h4 {
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    mix-blend-mode: normal;
    color: #848484;

}

.footer-nav {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.footer-shop {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.footer-art {
    display: flex;
    align-items: start;
    flex-direction: column;
}

#footer {
    background: #F9F9FB;
    height: 480px;
}

.footer-nav h1 {
    padding: 20px 0;
    font-weight: 700;
    font-size: 19px;
    color: #000000;
}

.footer-nav a {
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #848484;
}

.footer-shop h1 {
    padding: 20px 0;
    font-weight: 700;
    font-size: 19px;
    color: #000000;

}

.footer-shop a {
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #848484;
}

.footer-art h1 {
    font-weight: 700;
    font-size: 19px;
    line-height: 60px;
    color: #000000;
}

.footer-art a {
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #848484;
}

.pov {
    font-weight: 300;
    font-size: 17px;
    color: #848484;
    padding: 30px 0;
}

.povs {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #848484;

}

.line {
    position: absolute;
    width: 1090px;
    height: 0.6px;
    left: 120px;
    top: 5561px;
    background: #C4C4C4;
}

.lines  {
    text-align: center;
    font-size: 30px;
    padding: 30px 0;
}
.lines a {
    padding: 0 20px;
    color: black;
}





















































